@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.982 0 161.565);
  --foreground: oklch(0.244 0 169.695);
  --muted: oklch(0.952 0 165.964);
  --muted-foreground: oklch(0.503 0 180);
  --popover: oklch(0.991 0 180);
  --popover-foreground: oklch(0.244 0 169.695);
  --card: oklch(0.991 0 180);
  --card-foreground: oklch(0.244 0 169.695);
  --border: oklch(0.882 0 180);
  --input: oklch(0.955 0 180);
  --primary: oklch(0.435 0.039 41.329);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.92 0.065 74.362);
  --secondary-foreground: oklch(0.35 0.069 40.827);
  --accent: oklch(0.931 0 171.254);
  --accent-foreground: oklch(0.244 0 169.695);
  --destructive: oklch(0.627 0.194 33.336);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.745 0.132 54.33);
  --chart-1: oklch(0.435 0.039 41.329);
  --chart-2: oklch(0.92 0.065 74.362);
  --chart-3: oklch(0.931 0 171.254);
  --chart-4: oklch(0.936 0.052 74.572);
  --chart-5: oklch(0.434 0.044 41.289);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.178 0 180);
  --foreground: oklch(0.949 0 180);
  --muted: oklch(0.252 0 180);
  --muted-foreground: oklch(0.77 0 141.34);
  --popover: oklch(0.213 0 168.69);
  --popover-foreground: oklch(0.949 0 180);
  --card: oklch(0.213 0 168.69);
  --card-foreground: oklch(0.949 0 180);
  --border: oklch(0.235 0.011 90.394);
  --input: oklch(0.402 0 195.945);
  --primary: oklch(0.925 0.052 66.177);
  --primary-foreground: oklch(0.202 0.024 204.318);
  --secondary: oklch(0.316 0.019 64.204);
  --secondary-foreground: oklch(0.925 0.052 66.177);
  --accent: oklch(0.285 0 168.69);
  --accent-foreground: oklch(0.949 0 180);
  --destructive: oklch(0.627 0.194 33.336);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.925 0.052 66.177);
  --chart-1: oklch(0.925 0.052 66.177);
  --chart-2: oklch(0.316 0.019 64.204);
  --chart-3: oklch(0.285 0 168.69);
  --chart-4: oklch(0.347 0.021 64.174);
  --chart-5: oklch(0.925 0.054 66.151);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
